.tool{
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: fit-content;
    gap: 7px;
}
.tool *:hover{
border: 2.5px solid white;
transform: scale(1.2);
}
:root {
    --current-color: rebeccapurple;
    --default-color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    -webkit-user-drag: none;
    user-select: none;
    background: black;
    display: flex;
    justify-content: center;
}
.field {
    width: 60vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
}

.cell {
    background: var(--default-color);
    border: 1px solid white;
}

.cell:hover {
    background: var(--current-color);
    opacity: .5;
}
.workSpace{
    display: flex;
align-items: center;
gap: 2%;
}